h1 {
  color: #2652CD;
  text-align: center;
  padding-top: .5em;
  padding-bottom: 1em;
  font-size: 8em;
  font-family: 'Abril Fatface', cursive, serif;
}


#slang-1 button {
  padding: 2em;
  background-color: #E93737;
  border: #E93737;
}
#slang-1 dt b {
  font-family: 'Passion One', cursive, serif;
  font-size: 4em;
}
#slang-1 dd {
font-family: 'PT Sans', sans-serif;
font-size: 3em;
}


#slang-2 button {
  padding: 2em;
  background-color: #E3892C;
  border: #E3892C;
}
#slang-2 dt b{
  font-size: 4em;
  font-family: 'Dokdo', cursive, serif;
}
#slang-2 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-3 button {
  padding: 2em;
  background-color: #47CE1B;
  border: #47CE1B;
}
#slang-3 dt b{
  font-size: 4em;
  font-family: 'Josefin Sans', sans-serif;
}
#slang-3 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-4 button {
  padding: 2em;
  background-color: #2652CD;
  border: #2652CD;
}
#slang-4 dt b{
  font-size:4em;
  font-family: 'Cormorant Unicase', serif;
}
#slang-4 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-5 button {
  padding: 2em;
  background-color: #E54717;
  border: #E54717;
}
#slang-5 dt b{
  font-size:4em;
  font-family: 'Shadows Into Light', cursive, serif;
}
#slang-5 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-6 button {
  padding: 2em;
  background-color: #B68526;
  border: #B68526;
}
#slang-6 dt b{
font-size: 4em;
font-family: 'Gochi Hand', cursive, serif;
}
#slang-6 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-7 button {
  padding: 2em;
  background-color: #47CE1B;
  border: #47CE1B;
}
#slang-7 dt b{
  font-size:4em;
  font-family: 'Passion One', cursive, serif;
}
#slang-7 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-8 button {
  padding: 2em;
  background-color: #E93737;
  border: #E93737;
}
#slang-8 dt b{
  font-size:4em;
font-family: 'Bangers', cursive, serif;
}
#slang-8 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-9 button {
  padding: 2em;
  background-color: #2DBAE5;
  border: #2DBAE5;
}
#slang-9 dt b{
  font-size:4em;
  font-family: 'Architects Daughter', cursive, serif;
}
#slang-9 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-10 button {
  padding: 2em;
  background-color: #ED650F;
  border: #ED650F;
}
#slang-10 dt b{
  font-size:4em;
font-family: 'Rock Salt', cursive, serif;
}
#slang-10 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-11 button {
  padding: 2em;
  background-color: #0F88ED;
  border: #0F88ED;
}
#slang-11 dt b{
  font-size:4em;
font-family: 'Knewave', cursive, serif;
}
#slang-11 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-12 button {
  padding: 2em;
  background-color:#F1BC1D;
  border: #F1BC1D;
  padding: 2em;
}
#slang-12 dt b{
  font-size:4em;
  font-family: 'Pangolin', cursive, serif;
}
#slang-12 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

#slang-13 button {
  padding: 2em;
  background-color:#B68526;
  border: #B68526;
  padding: 2em;
}
#slang-13 dt b{
  font-size:4em;
  font-family: 'Indie Flower', cursive, serif;
}
#slang-13 dd {
  font-size: 3em;
  font-family: 'PT Sans', sans-serif;
}

main {
  text-align: center;
  padding-bottom: 10em;
}
